p, ol, ul, dl {
  margin: 0 0 var(--margin-s) 0;
}

%container {
  margin: 0 auto var(--margin-l) auto;
}

.container {
  overflow-x: auto;
  @extend %container;
  margin-bottom: var(--margin-m);
  padding: 0;

  &-small {
    max-width: var(--container-small);
    @extend %container;
  }
  &-medium {
    max-width: var(--container-medium);
    @extend %container;
  }
  &-large {
    max-width: var(--container-large);
    @extend %container;
  }

  &-space-between {
    @extend %container;
    padding: var(--padding-m);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
