.button, button,
  [type=submit], [type=reset],
  [type=button], %button {
  display: inline-block;
  text-align: center;
  color: var(--color-accent1);
  background-color: var(--color-primary);
  padding: var(--padding-s);
  font-family: var(--font-secondary);
  font-weight: 400;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
  transition: all .6s ease-in;
  margin-bottom: var(--margin-s);

   &:visited {
    color: var(--color-accent1);
   }

  &:hover, &:active {
    transition: all .3s ease-out;
    background-color: var(--color-primary-attention);
  }
}

.button {
  &-inverted, &-inverted:visited {
    background-color: var(--color-accent1);
    color: var(--color-primary);

    &:hover {
      transition: all .3s ease-out;
      background-color: var(--color-primary-attention);
      color: var(--color-accent1);
      text-decoration: none;
    }
  }
  &-muted, &-muted:visited {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 1px solid currentColor;

    &:hover {
      transition: all .3s ease-out;
      border-color: var(--color-primary-attention);
      background-color: var(--color-light);
      color: var(--color-primary-attention);
    }
  }

  &-full-w {
    display: block;
    width: 100%;
  }
}
